@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background: lightgrey;
}
.first-container {
  background: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.btn-success {
  background-color: forestgreen;
  border-color: green;
  color: #fff;
}
a {
  color: steelblue;
}
img {
  margin-top: 20px;
}
[class^=col-] {
  position: relative;
}
h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.header-text {
  font-weight: 900;
  -webkit-text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  -ms-text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  -o-text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  font-size: 60px;
  cursor: help;
  display: inline-block;
}
h1 .glyphicon {
  font-size: 20px;
  vertical-align: 92%;
  cursor: help;
}
h1 .glyphicon .explain {
  background: lightgrey;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 35px;
  width: 300px;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  text-align: left;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
h1 .glyphicon:hover .explain {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
input[type=text] {
  padding: 0 10px;
  margin-bottom: 19px;
  line-height: 40px;
  border: solid 1px darkslategrey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
.search.form-control {
  font-size: 20px;
  width: 320px;
  margin-bottom: 0;
}
.order-input {
  font-size: 18px;
  text-align: right;
}
.order-input > p {
  display: inline-block;
}
.order-input button {
  border: 0;
  padding: 7px 10px;
  background: darkslategrey;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-size: 18px;
  cursor: pointer;
}
.order-input button.active {
  background: darkorange;
}
.order-input button:hover {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
}
.order-input label {
  font-weight: normal;
}
.mixer-wrap {
  max-width: 180px;
}
.mixer-wrap #mixer-input {
  float: left;
  margin-right: 20px;
}
.mixer-wrap #mixer {
  background: lightgrey;
  width: 100%;
  float: left;
}
.mixer-wrap #mixer li {
  width: 100%;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  cursor: pointer;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
input[type=radio] + label:before {
  margin-right: 8px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid darkslategrey;
  background: white;
  float: left;
}
input[type=radio]:checked + label:before,
input[type=radio].active + label:before {
  background: slateblue;
}
.results {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.results * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.results .glyphicon:before {
  content: "+";
}
.results.list li {
  float: none;
  height: auto;
  width: auto;
}
.results.list li .names {
  width: 100%;
  max-width: 160px;
}
.results.list li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.02);
}
.results li,
#mylibrary .listing li {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.results li:hover,
#mylibrary .listing li:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
}
.results,
#mylibrary .listing,
#mixer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.results li .glyphicon,
#mylibrary .listing li .glyphicon,
#mixer li .glyphicon {
  right: 5px;
  top: 10px;
  position: absolute;
}
.results li .glyphicon:before,
#mylibrary .listing li .glyphicon:before,
#mixer li .glyphicon:before {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: darkgrey;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
.results li .glyphicon:hover:before,
#mylibrary .listing li .glyphicon:hover:before,
#mixer li .glyphicon:hover:before {
  background: darkslategrey;
  color: white;
}
.results li,
#mylibrary .listing li,
#mixer li,
.results .empty,
#mylibrary .listing .empty,
#mixer .empty,
.results .last,
#mylibrary .listing .last,
#mixer .last {
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.results li.empty,
#mylibrary .listing li.empty,
#mixer li.empty,
.results .empty.empty,
#mylibrary .listing .empty.empty,
#mixer .empty.empty,
.results .last.empty,
#mylibrary .listing .last.empty,
#mixer .last.empty {
  -webkit-box-shadow: 0 0 5px black inset;
  box-shadow: 0 0 10px black inset;
  background: lightgrey;
  width: 100%;
  max-width: 180px;
}
.results li .names,
#mylibrary .listing li .names,
#mixer li .names,
.results .empty .names,
#mylibrary .listing .empty .names,
#mixer .empty .names,
.results .last .names,
#mylibrary .listing .last .names,
#mixer .last .names {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  text-transform: lowercase;
  height: 50px;
  font-size: 0.9em;
}
.results li .names .values,
#mylibrary .listing li .names .values,
#mixer li .names .values,
.results .empty .names .values,
#mylibrary .listing .empty .names .values,
#mixer .empty .names .values,
.results .last .names .values,
#mylibrary .listing .last .names .values,
#mixer .last .names .values,
.results li .names .name,
#mylibrary .listing li .names .name,
#mixer li .names .name,
.results .empty .names .name,
#mylibrary .listing .empty .names .name,
#mixer .empty .names .name,
.results .last .names .name,
#mylibrary .listing .last .names .name,
#mixer .last .names .name {
  display: block;
}
.results li .names .values .value,
#mylibrary .listing li .names .values .value,
#mixer li .names .values .value,
.results .empty .names .values .value,
#mylibrary .listing .empty .names .values .value,
#mixer .empty .names .values .value,
.results .last .names .values .value,
#mylibrary .listing .last .names .values .value,
#mixer .last .names .values .value,
.results li .names .name .value,
#mylibrary .listing li .names .name .value,
#mixer li .names .name .value,
.results .empty .names .name .value,
#mylibrary .listing .empty .names .name .value,
#mixer .empty .names .name .value,
.results .last .names .name .value,
#mylibrary .listing .last .names .name .value,
#mixer .last .names .name .value,
.results li .names .values .rgb,
#mylibrary .listing li .names .values .rgb,
#mixer li .names .values .rgb,
.results .empty .names .values .rgb,
#mylibrary .listing .empty .names .values .rgb,
#mixer .empty .names .values .rgb,
.results .last .names .values .rgb,
#mylibrary .listing .last .names .values .rgb,
#mixer .last .names .values .rgb,
.results li .names .name .rgb,
#mylibrary .listing li .names .name .rgb,
#mixer li .names .name .rgb,
.results .empty .names .name .rgb,
#mylibrary .listing .empty .names .name .rgb,
#mixer .empty .names .name .rgb,
.results .last .names .name .rgb,
#mylibrary .listing .last .names .name .rgb,
#mixer .last .names .name .rgb {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
}
.results .last,
#mylibrary .listing .last,
#mixer .last {
  text-align: center;
}
.results .last .glyphicon,
#mylibrary .listing .last .glyphicon,
#mixer .last .glyphicon {
  margin: 57px 53px;
  display: none;
}
.results .last .glyphicon:before,
#mylibrary .listing .last .glyphicon:before,
#mixer .last .glyphicon:before {
  content: "" !important;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
.results .last .glyphicon .explain,
#mylibrary .listing .last .glyphicon .explain,
#mixer .last .glyphicon .explain {
  position: absolute;
  width: 110px;
  margin-left: -25px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
.results .last .glyphicon:hover:before,
#mylibrary .listing .last .glyphicon:hover:before,
#mixer .last .glyphicon:hover:before {
  color: white;
}
.results .last .glyphicon:hover .explain,
#mylibrary .listing .last .glyphicon:hover .explain,
#mixer .last .glyphicon:hover .explain {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
#mylibrary {
  background: grey;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  margin-top: 50px;
}
#mylibrary h2 {
  color: white;
  padding: 10px 40px 10px 10px;
  margin: 0;
  font-size: 22px;
  min-height: 50px;
  position: relative;
}
#mylibrary h2 .icon {
  right: 5px;
  top: 10px;
  position: absolute;
}
#mylibrary h2 .icon:before {
  content: "i";
  font-family: monospace;
  font-size: 14.4px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: white;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}
#mylibrary h2 .icon:hover:before {
  background: darkslategrey;
  color: white;
}
#mylibrary h2 .icon .explain {
  padding: 10px;
  background: rgba(224, 224, 224, 0.8);
  position: absolute;
  right: -5px;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  top: 40px;
  font-size: 16px;
  color: black;
  z-index: 999;
}
#mylibrary h2 .icon:hover .explain {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  visibility: visible;
}
#mylibrary .listing li {
  width: 100%;
  max-width: 180px;
}
#mylibrary .listing .glyphicon:before {
  content: "−";
}
#add,
#remove,
#color-number {
  padding: 10px;
  background: rgba(204, 204, 204, 0.8);
  white-space: nowrap;
  position: absolute;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  top: 200px;
  left: 900px;
  z-index: 999;
}
.startspotlighter {
  font-size: 18px;
}
