<!doctype html>
<html>

<!--[if lt IE 7 ]>				<html lang="en" class="ie6">						<![endif]-->
<!--[if IE 7 ]>						<html lang="en" class="ie7">						<![endif]-->
<!--[if IE 8 ]>						<html lang="en" class="ie8">						<![endif]-->
<!--[if IE 9 ]>						<html lang="en" class="ie9">						<![endif]-->
<!--[if lt IE 9]>					<script src="js/html5shiv.js"></script>	<![endif]-->
<!--[if (gt IE 9)|!(IE)]>	<html lang="en"> 												<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="en-UK" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>HTML Named Colours</title>
	<meta name="description" content="An overview of all named HTML colours, with a quick filter, hex and rgb values, a scratch pafd and a personal library">
	<meta name="keywords" content="html, css, color, colors, colour, colours, hex, rgb, named colors, named colours">
	<meta name="author" content="Ray Hyde | www.rayhyde.nl">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--	<link rel="shortcut icon" href="images/favicon.png">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="http://www.rayhyde.nl/playground/spotlighter/css/spotlighter.css">
	
</head>

<body ng-app="HtmlColours">
	<div class="container first-container" ng-controller="ColoursCtrl">
		<div class="row">
			<div class="col-md-10"> 

				<div class="row">
					<div class="col-xs-12">
						<h1><span class="header-text">HTML Named Colours</span> <span class="glyphicon glyphicon-question-sign">
							<div class="explain">Hover over a letter in the header to see its colour name. The colours are randomly generated when the page is loaded. Who knows? This might bring you fresh ideas!
							</div></span></h1>
							
							<p>We've almost forgotten them, the good old HTML colours. Still, I use them a lot when prototyping. I love to quickly  type colours such as "tomato", "royalblue" or "forestgreen". And for immediately spotting an element in Firebug while keeping its text legible, nothing beats "background: gold".</p>
							
							<p>The input below lets you filter the colours on parts of its name, hex value or rgb value. The Scratchpad lets you enter your own hex colour to spot if there are named colours that come close to it. Clicking on a plus sign adds that colour to your library on the right, which is remembered next time you visit this page.</p>
							<p>Also below you can sort the colours by their names (default) or by their hex values. The "listing" button shows the colours as a list, which works particularly nice when sorting by value. For more info, click the tour button on the right.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<input type="text" class="search form-control" placeholder="What colour are you looking for?" ng-model="filterColours">
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="order-input">
							<p class="sorter">	<span>Sort by:</span>
								<input type="radio" ng-model="sortType" ng-checked="sortType" name="sortBy" id="sortByName" value="name" checked="checked" class="active" />
								<label for="sortByName">Name</label>

								<input type="radio" ng-model="sortType" ng-checked="sortType" name="sortBy" id="sortByValue" value="hexvalue" />
								<label for="sortByValue">Value</label>
							</p>
							<p class="gridder">
							<a href="" class="btn btn-default btn-success"><span class="glyphicon glyphicon-th"></span></a>
							<a href="" class="btn button-list"><span class="glyphicon glyphicon-th-list"></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<img src="img/ripolin.jpg" class="img-responsive">

				<h3>Take a tour of this page</h3>
				<p><a href="" class="btn btn-success btn-large startspotlighter spotlighter">Take tthe tour <span class="glyphicon glyphicon-eye-open"></span</span></a>
				</p>
				<p class="small"><a href="http://rayhyde.github.io/spotlighter/">Learn more about my Spotlighter jQuery plugin at Github.</a></p>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 col-md-10">
				<ul class="results row">
					<li class="col-lg-2 col-md-3 col-sm-4 col-xs-6" data-value="{{colour.hexvalue}}" style="background-color: {{colour.name}}" ng-repeat="colour in limitedFilteredColours=(filteredColours=(colours | filter:filterColours)) | orderBy: sortType">
						<div class="names">
							<span class="name">{{colour.name}}</span>
							<span class="values">
											<span class="value">{{colour.hexvalue}}</span> | <span class="rgb">{{colour.rgbvalue}}</span>
							</span>
							<span class="glyphicon plus"></span>
						</div>
					</li>
					<div class="last col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="glyphicon glyphicon-arrow-up">
							<div class="explain">Back to top</div>
						</div>
					</div>
				</ul>
				<div class="row">
					<div class="col-xs-12">
						<p>all colours: {{colours.length}} | filtered colours: {{filteredColours.length}}
							<!-- limited and filtered colours: {{limitedFilteredColors.length}} -->
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-2">
				<div class="row">
					<div class="col-xs-12">
						<div class="mixer-wrap" ng-init="mixerValue='#ccc'">
							<h3 class="mixer-header">Scratchpad</h3>
							<p>Type a colour name or hex value</p>
							<input type="text" name="mixer-input" id="mixer-input" ng-model="mixerInput" placeholder="'#808080' or 'grey'">
							<ul id="mixer">
								<li style="background: {{mixerInput}}" data-value="{{mixerInput}}">
									<div class="names">
										<!-- <span class="name">{{mixerInput}}</span>-->
										<span class="value">{{mixerInput}}</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="mylibrary">
							<h2>My Library <span class="icon"><div class="explain">Your library is saved between browser sessions, so next time you visit this page, your colours are retrieved.</div></span></h2>
							<ul class="listing">
								<li data-value="{{colour.hexvalue}}" style="background-color: {{colour.hexvalue}}" ng-repeat="colour in colours | filter:filterLibrary">
									<div class="names">
										<span class="name">{{colour.name}}</span>
										<span class="value">{{colour.hexvalue}}</span>
										<span class="glyphicon minus"></span>
									</div>
								</li>
								<div class="empty"></div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="explain">
		<p class="extra-padding">I've created this app because all the lists of HTM colours I could find on the were pretty ancient and looked the part. Clunky tables and no way to quickly filter them. So to breathe new life into something I like to use every now and again, I've created this web app in AngularJS, jQuery and Bootstrap.</p>
		<p class="extra-padding">This page and the Spotlighter are part of my Playground - a collection of fun (and dare I say it: clever) stuff I made in the past, from jQuery games and plugins to CSS animation tricks.
			<br>
			<br><a href="http://www.rayhyde.nl">Please drop in on my portfolio site www.rayhyde.nl!</a></p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 copyright tac">&copy; <script type="text/javascript">
				var tD = new Date();
				var datestr = tD.getFullYear();
				document.write(datestr);
			</script> Ray Hyde | <a href="http://www.rayhyde.nl">www.rayhyde.nl</a></div>
		</div>
	</div>
	<div id="color-number">Add to My Library</div>
	<div id="add">Add to My Library</div>
	<div id="remove">
		<div>Remove from My Library</div>
	</div>
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
	<script src="js/htmlcolours.controller.js"></script> 
	<script src="http://www.rayhyde.nl/playground/spotlighter/js/jquery.spotlighter.min.js" type="text/javascript"></script>
	<script>
		$('.startspotlighter').spotlighter({
			default_spotlight_width: 150,
			json: true,
			json_file: 'data/spotlighter-data.json'
		});
	</script>
</body>

</html>